.card {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.card__image {
  flex-grow: 1;
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
}

.card__price {
  text-align: center;
  padding-bottom: 10px;
}

.card__button {
  width: 2.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #718096;
  border-radius: 0.375rem;
}

.card__title {
  font-size: .75rem;
  min-height: 60px;
  width: 100px;
  text-align: center;
}